{% extends 'base.html' %}
{% load static %}

{% block body %}



<div class="d-flex justify-content-center align-items-center py-5 h-100 mt-5" style="height: 100vh;">

    <div class="border rounded-2xl border-gray-400 p-4" style="border-radius: 1rem; max-width: 100%; width: 470px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);">
        {% for msg in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <form class="d-flex flex-column align-items-center" id="signup-form" action="{% url 'forget_password' %}" method="post">
            {% csrf_token %}
            <!-- Form header -->
            <div class="form-outline mb-4">
                <legend>Forgot Password</legend>
                <p>Enter your username below</p>
            </div>
            
            <!-- Username input -->
            <div class="form-outline mb-4">
                <input type="text" id="form2Example17" class="form-control form-control-lg" placeholder="Username" name="username" style="background-color:#F5F7FA;">
            </div>
          
            <!-- Submit button -->
            <button type="submit" style="border-radius: 35px;width:200px;background-color: black;color: bisque;height: 46px;">Submit</button>
        </form>
      
    </div>
</div>


{% endblock %}